{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "semi": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": "off" ,
    "quotes": "off",
    "comma-dangle": "off",
    "no-unused-vars": "warn",
    "eol-last": "off",
    "arrow-body-style":"off",
    "padded-blocks":"off"
  }
}