html, body, #root {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  position: relative;
}
.footer {
  flex-shrink: 0;
}

.no-display {
  display: none !important;
}

.thumbnail {
  width: 64px;
  height: 64px;
}

