/* Targets the POI search result itself. */
.poi-search-result {
  background : none;
  border     : none;
  box-shadow : none;
  text-shadow: -1px 2px 3px #000;
  font-size  : 1.25em;
  width      : 48px;
  font-weight: bold;
  color      : rgb(255, 255, 255);
  white-space: normal;
  line-height: 1em;
  text-align : center;
}

/* Targets right pointing arrow of the POI tooltip */
.leaflet-tooltip-left.poi-search-result::before {
  border-left-color: transparent;
}

/* Targets left pointing of the POI tooltip */
.leaflet-tooltip-right.poi-search-result::before {
  border-right-color: transparent;
}

.leaflet-popup-tip-container {
  width: 64px;
}

.leaflet-control-geosearch form input {
  height: 30px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.leaflet-tooltip.chosen-location {
  /* padding: 0 5px;
  background-color: rgb(1, 107, 87);
  text-shadow: 1px 1px 2px #131313; */
  border: 0px solid transparent;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  color: white;
  font-weight: 600;
  /* left: 100%; */
  top: 10px;
  left: 10px;
}

.leaflet-tooltip.chosen-location::before {
  border: unset;
}